@import url('https://fonts.googleapis.com/css?family=Montserrat:600|Rubik+Mono+One&display=swap');

* {
    margin: 0;
    padding: 0;
}

li, a {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #DDA0BA;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

.navbar {
    list-style: none;
}

.navbar > li {
    display: inline-block;
    padding: 0px 20px;
}

    .navbar > li > a {
        transition: all 0.3s ease 0s;
    }

        .navbar > li > a:hover {
            color: #FF3D30;
        }

.logo {
    margin-right: auto;
}

.welcome {
    text-align: center;
}

.welcome > p {
    text-align: center;
    color: #000000;
    font-family: "Rubik Mono One", sans-serif;
    font-size: 12px;
    padding: 10px 20px 10px 20px;
}

.message {
    display: flex;
    justify-content: center;
    align-items: center;
}

.message > p {
    font-family: "Rubik Mono One", sans-serif;
    font-size: 50px;
    padding: 5px 20px 5px 20px;
    color: #222222;
    border: 5px solid #777777;
    text-align: center;
}
